.index-container-top {
	margin: auto;
	max-width: var(--max-width);
}

.index-container {
	margin: auto;
	display: flex;
	max-width: var(--max-width);
}

.banner {
	margin: 12px;
	/* margin-top: -32px !important; */
	flex-basis: 25%;
}

.banner-title {
	font-weight: 400;
	margin: 4px 0;
}

.banner-sub-title {
	font-size: 14px;
	opacity: 0.7;
}
.banner-sub-title-emphasis {
	font-weight: 600;
}

.avatar {
	min-width: 200px;
}

.square {
	clip-path: circle(50%);
	position: relative;
}

.square::after {
	content: '';
	display: block;
	padding-bottom: 100%;
}

.avatar img {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 110%;
	width: auto;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
}

.edit-deck-button {
	width: 100%;
	min-width: unset !important;
	margin: 16px auto !important;
}

.edit-deck-button + .edit-deck-button {
	margin-top: 0 !important;
}

.delete-deck-button {
	border: 1px solid rgb(255, 74, 74);
	color: rgb(255, 74, 74);
	width: 100%;
	min-width: unset !important;
	margin: 16px auto !important;
}

.delete-deck-button:hover {
	border: 1px solid rgb(255, 74, 74) !important;
}

@media (max-width: 680px) {
	.edit-deck-button-container {
		display: flex;
	}

	.edit-deck-button + .edit-deck-button {
		margin-top: 16px !important;
	}

	.banner {
		display: flex;
		margin: 12px;
	}

	.banner-info {
		text-align: center;
		margin: auto 12px;
		flex-grow: 1;
	}

	.index-container {
		flex-direction: column;
	}

	.avatar {
		margin: auto;
		width: unset;
		max-width: 120px;
		min-width: 80px;
		flex-basis: 33%;
	}

	.avatar img {
		display: block;
		margin: auto;
		border-radius: 50%;
	}

	.edit-deck-button {
		max-width: 240px;
		display: block;
	}
}

.modal-container {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	box-sizing: border-box;
	display: flex;
	z-index: 100;
}

.modal-container-contents {
	margin: auto;
}
