# IDE
**/.vs
**/.vscode

# Secrets
**/secrets.*

# Package Management
**/node_modules
**/package-lock.json

# Build Artifacts
**/build
**/dist
**/.next

# Deployment Artifacts
**/.serverless
**/screenshots/*.png

# Data
**/AllPrintings.*
**/*.sqlite