.body {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.deck-title {
	margin: 12px 40px;
}

.decklist-container {
	margin: 12px 40px;
}

.decklist {
	width: 100%;
	border-collapse: collapse;
	flex-grow: 1;
}

.decklist > thead > tr > th {
	border-bottom: 1px solid var(--theme-dark2);
	border-spacing: 0;
}

.decklist > thead > tr > th:nth-child(2) {
	text-align: left;
}

.decklist > tbody > tr > th:first-child {
	width: 64px;
}

.decklist > tbody > tr > td:first-child {
	text-align: center;
}
