.body {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.deck-header {
	border-bottom: 1px solid var(--theme-dark2);
	margin: 12px;
}

.deck-header-container {
	display: flex;
	padding-left: 40px;
	padding-right: 12px;
	justify-content: space-between;
}

.deck-title {
	margin-left: 0;
	padding: 0px 12px 0px 0px;
}

.deck-card-count {
	border-radius: 8px;
	border: 1px solid var(--theme-dark);
	background-color: var(--theme-dark2);
	color: white;
	font-weight: bold;
	align-self: center;
	font-size: 16px;
	padding: 12px 6px;
}

.decklist-container {
	margin: 12px 40px;
}

.decklist-spotlight {
	display: flex;
	flex-wrap: wrap;
}

@media (max-width: 866px) {
	.deck-header {
		border: none;
		margin: 0;
	}

	.deck-title {
		font-size: 36px;
	}

	.decklist-container {
		margin: 0px;
	}
}

.decklist {
	width: 100%;
	border-collapse: collapse;
	flex-grow: 1;
}

.decklist > thead > tr > th {
	border-bottom: 1px solid var(--theme-dark2);
	border-spacing: 0;
}

.decklist > tbody > tr:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.decklist > thead > tr > th:nth-child(2) {
	text-align: left;
	padding-left: 6px;
}

.decklist > tbody > tr > td:nth-child(2) {
	box-sizing: border-box;
	transition: padding-left 0.1s;
	padding-left: 0px;
	cursor: pointer;
}

@media (max-width: 866px) {
	.decklist > tbody > tr {
		border: 1px solid var(--theme-dark2);
	}

	.decklist > tbody > tr > td:nth-child(2) {
		height: 64px;
	}
}

.decklist-card-count {
	width: 32px;
	text-align: right;
	padding: 0 12px;
}

.decklist-card-type {
	display: none;
}

.decklist-category {
	background-color: inherit;
}

.decklist-category:hover {
	background-color: inherit !important;
}

.decklist-category > td {
	font-weight: bold;
	padding: 12px 0;
}

@media (max-width: 866px) {
	.decklist-card-count {
		width: 32px;
		text-align: center;
		padding: 0 12px;
		font-size: 24px;
	}

	.decklist-card-type {
		display: block;
		font-size: 14px;
		margin-top: 4px;
	}

	.decklist-category {
		border-top: none !important;
		background-color: var(--theme-dark2);
		color: white;
	}

	.decklist-category > td {
		font-weight: bold;
		padding: 5px 0 5px 5px;
	}

	.decklist-category:hover {
		background-color: var(--theme-dark2) !important;
	}
}

.hover-card {
	position: absolute;
	border-radius: 4px;
	padding: 1px;
	background-color: var(--theme-dark2);
	border-color: var(--theme-dark);
	transition: opacity ease-in-out 0.2s;
	opacity: 0;
}

.hover-card-visible {
	opacity: 1;
}
