.container {
	background-color: white;
	box-shadow: 0 20px 60px rgba(0, 0, 0, 0.2);
	border-radius: 14px;
	width: min(420px, calc(100vw - 40px));
	box-sizing: border-box;
	padding: 24px;
}

.contents {
	margin: 0;
}

.header {
	font-size: 23px;
	margin: 0 0 20px;
}

.body {
}

.group-counter {
	/* display: flex; */
	width: 100%;
}

.group-counter > tbody > tr > td:last-child {
	/* display: flex; */
	text-align: right;
}

.group-counter-buttons {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
	margin-top: 24px;
}
