.header {
	/* background-color: var(--theme-dark); */
	background-color: white;
	height: 44px;
	color: var(--theme-text);
	border-bottom: 1px solid rgb(219, 219, 219);
}

.header-content {
	max-width: var(--max-width);
	margin: auto;
	/* height: 100%; */
}

.header-content a {
	text-decoration: none;
	height: 100%;
}

.header-content a:visited {
	color: var(--theme-text);
}
