.container {
	flex-grow: 1;
	flex-basis: 100%;
}

.contents {
	margin: 4px;
	display: flex;
	box-sizing: border-box;
}

.tab {
	position: relative;
	box-sizing: border-box;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	overflow: hidden;
	background: var(--theme-dark);
	text-align: left;
	display: flex;
	justify-content: center;
}

.tab h3 {
	font-size: 16px;
	letter-spacing: 1px;
	color: var(--theme-light);
	padding: 12px 10px;
	margin: 0;
	line-height: 24px;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	min-height: 120px;
	/* Bug in firefox; it fails to calculate the size right and results in all sorts of crazy. */
	width: 24px;
}

.tab h3 {
	/* Rotate from top left corner (not default) */
	transform: rotate(180deg);
}

.body {
	flex-grow: 1;
	border: 1px solid var(--theme-dark);
}

.body ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.body ul > li {
	padding: 4px;
	border-radius: 6px;
	border: 1px solid var(--theme-dark);
	margin: 4px;
	cursor: pointer;
	transition: box-shadow 0.1s;
}

.body ul > li:hover {
	padding: 4px;
	border-radius: 6px;
	border: 1px solid var(--theme-dark);
	margin: 4px;
	cursor: pointer;
	box-shadow: 0 0 4px rgba(var(--theme-dark-tuple), 0.4);
}

.item-count {
	padding-right: 12px;
	font-size: 20px;
	font-weight: bold;
}
