.index-container-top {
	margin: auto;
	max-width: var(--max-width);
}

.index-container {
	margin: auto;
	display: flex;
	max-width: var(--max-width);
}

.avatar {
	margin: 12px;
	--size: 240px;
	width: var(--size);
}

.avatar > img {
	box-sizing: border-box;
	max-width: 100%;
	max-height: 100%;
	border: 1px solid var(--theme-dark2);
}

@media (max-width: 866px) {
	.index-container {
		flex-direction: column;
	}

	.avatar {
		margin: auto;
		width: unset;
	}

	.avatar > img {
		display: block;
		margin: auto;
	}
}
