.index-container-top {
	margin: auto;
	max-width: var(--max-width);
}

.index-container {
	margin: auto;
	display: flex;
	max-width: var(--max-width);
}

.avatar {
	margin: 12px;
	min-width: 260px;
}

.square {
	border: 1px solid var(--theme-dark);
	border-radius: 50%;
	overflow: hidden;
	position: relative;
}

.square::after {
	content: '';
	display: block;
	padding-bottom: 100%;
}

.avatar img {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
	width: auto;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	border: 1px solid var(--theme-dark2);
}

@media (max-width: 866px) {
	.index-container {
		flex-direction: column;
	}

	.avatar {
		margin: auto;
		width: unset;
	}

	/* .avatar > img {
		display: block;
		margin: auto;
		border-radius: 50%;
	} */
}
