.index-container-top {
	margin: auto;
	max-width: var(--max-width);
}

.index-container {
	margin: auto;
	display: flex;
	max-width: var(--max-width);
}

.avatar {
	margin: 12px;
	min-width: 160px;
}

.square {
	clip-path: circle(50%);
	position: relative;
}

.square::after {
	content: '';
	display: block;
	padding-bottom: 100%;
}

.avatar img {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 110%;
	width: auto;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
}

@media (max-width: 866px) {
	.index-container {
		flex-direction: column;
	}

	.avatar {
		margin: auto;
		width: unset;
		max-width: 120px;
		min-width: 80px;
	}

	.avatar img {
		display: block;
		margin: auto;
		border-radius: 50%;
	}
}
