body {
	--theme-text-tuple: 38, 38, 38;
	--theme-text: rgba(var(--theme-text-tuple), 1);
	--theme-dark-tuple: 0, 0, 0;
	--theme-dark: rgba(var(--theme-dark-tuple), 1);
	--theme-dark2-tuple: 91, 86, 86;
	--theme-dark2: rgba(var(--theme-dark2-tuple), 1);
	--theme-light-tuple: 250, 250, 250;
	--theme-light: rgba(var(--theme-light-tuple), 1);

	--max-width: 975px;

	margin: 0;
	background-color: var(--theme-light);
	color: var(--theme-text);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji';
}
