body {
	--theme-dark-tuple: 77, 70, 70;
	--theme-dark: rgba(var(--theme-dark-tuple), 1);
	--theme-dark2-tuple: 91, 86, 86;
	--theme-dark2: rgba(var(--theme-dark2-tuple), 1);
	--theme-light-tuple: 245, 234, 234;
	--theme-light: rgba(var(--theme-light-tuple), 1);

	--max-width: 1060px;

	margin: 0;
	background-color: var(--theme-light);
	color: var(--theme-dark);
	font-family: sans-serif;
}
