.body {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	font-size: 0.9rem;
}

.deck-list {
	column-count: 2;
}

.deck-header-container {
	display: flex;
	padding-left: 40px;
	padding-right: 12px;
	justify-content: space-between;
}

.deck-title {
	margin-left: 0;
	padding: 0px 12px 0px 0px;
}

.deck-card-count {
	border-radius: 8px;
	border: 1px solid var(--theme-dark);
	background-color: var(--theme-dark2);
	color: white;
	font-weight: bold;
	align-self: center;
	font-size: 16px;
	padding: 12px 6px;
}

.decklist-spotlight {
	display: flex;
	flex-wrap: wrap;
}

@media (max-width: 680px) {
	.deck-list {
		column-count: unset;
	}

	.deck-header {
		border: none;
		margin: 0;
	}

	.deck-title {
		font-size: 36px;
	}

	.decklist-container {
		margin: 0px;
	}
}

.decklist {
	width: 100%;
	border-collapse: collapse;
	flex-grow: 1;
}

.decklist-groups {
	display: flex;
	flex-wrap: wrap;
}

.hover-card {
	position: absolute;
}
